*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/rclone.conf
/storage/logs/rclone-*.log
/storage/logs/rclone-*.txt
/storage/logs/rclone-*.json
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.claude/
/mimedico
